/* Comprar.css */

.comprar-container {
  opacity: 1; /* Asegura que la página sea visible inicialmente */
  transition: opacity 0.5s ease-in-out; /* Agrega una transición suave */
}
  
  .comprar-title {
    text-align: center;
    margin-top: 70px;
    /* border-bottom: 2px solid #1890ff; */ /* Comentada para quitar la línea azul */
    padding-bottom: 10px;
  }
  
  .comprar-info-box {
    background-color: #fcfeff;
    padding:45px;
    border-radius: 12px;
    margin-bottom: 32px;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .comprar-info-title {
    border-bottom: 2px solid #1890ff;
    padding-bottom: 8px;
    font-size: 24px;
  }
  
  .comprar-info-paragraph {
    font-size: 18px;
  }

  /* Comprar.css */

/* ... (estilos existentes) ... */

.seccion-adicional {
  width: 100%;
  height: 500px;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/parejamudandoce.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Cambiamos a posición relativa para que ::before respete este contenedor */
}

.imagen-fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/parejamudandoce.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplicamos el desenfoque solo al pseudo-elemento */
  z-index: -1; /* Enviamos el pseudo-elemento al fondo */
}

.texto-centrado {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  /* Otros estilos según tus preferencias */
}

.comprar-container.loading {
  opacity: 0;
}

/* Añade animaciones de carga según tus preferencias */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

/* Aplica animaciones según las necesidades */
.comprar-title,
.comprar-info-box {
  animation: fadeIn 1s ease-in-out, slideInUp 1s ease-in-out;
}