/* Comprar.css */

.comprar-container {
    padding: 20px;
  }
  
  .comprar-title {
    text-align: center;
    margin-top: 70px;
    /* border-bottom: 2px solid #1890ff; */ /* Comentada para quitar la línea azul */
    padding-bottom: 10px;
  }
  
  .comprar-info-box {
    background-color: #fcfeff;
    padding:45px;
    border-radius: 12px;
    margin-bottom: 32px;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .comprar-info-title {
    border-bottom: 2px solid #1890ff;
    padding-bottom: 8px;
    font-size: 24px;
  }
  
  .comprar-info-paragraph {
    font-size: 18px;
  }
  
  .comprar-our-company {
    text-align: center;
    margin-top: 9%;
    position: relative;
  }
  
  .comprar-our-company-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff; /* Ajusta el color del texto para asegurar la legibilidad */
  }
  
  .comprar-info-image {
    background-image: url(../../assets/img/acuerdo.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 50px;
    width: 100%; /* Ajuste para que la imagen ocupe todo el ancho */
  }
  
  .comprar-custom-text {
    font-size: 48px; /* Ajusta el tamaño del texto según tu preferencia */
    font-weight: bold; /* Opcional: Ajusta el peso de la fuente según tu preferencia */
    color: #fff; /* Ajusta el color del texto a blanco */
  }