/* PropertyList.css */

.property-list {
  margin-top: -140px;
  padding: 20px;
  transition: height 0.5s ease; /* Agregar transición a la altura */
}


  .centered-card {
    margin: 0 10%;
  }

  .filters {
    display: flex;
    justify-content: space-between;
  }

  .search-button {
    margin-top: 16px;
  }

  .property-info-row {
    margin-top: 20px; /* Ajusta el valor según tu preferencia */
  }

  .large-button {
    font-size: 1.5rem; /* Ajusta el tamaño del texto del botón */
    padding: 10px 20px; /* Ajusta el relleno (padding) para aumentar el tamaño del botón */
  }

  .centered-button {
    display: flex;
    align-items: center;
  }

  .custom-carousel {
    position: relative;
    overflow: hidden;
  }

  .custom-carousel .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: black;
    padding: 8px;
    border-radius: 50%;
  }

  .custom-carousel .custom-prev {
    left: 10px;
  }

  .custom-carousel .custom-next {
    right: 10px;
  }

  .property-image-container {
    position: relative; /* Asegura que el contenedor de la imagen tenga posición relativa */
    cursor: pointer;
  }
  
  .sale-mark,
  .rent-mark {
    position: absolute; /* Posicionamiento absoluto para las etiquetas */
    top: 0px; /* Ajusta la posición vertical según sea necesario */
    left: 0px; /* Ajusta la posición horizontal según sea necesario */
    background-color: #ffffff8e; /* Color de fondo rojo para la marca de venta */
    color: #333; /* Color de texto blanco para la marca de venta */
    font-weight: bold;
    padding: 10px; /* Espacio interno de 8px alrededor del texto */
    border-radius: 2px; /* Bordes redondeados */
    z-index: 1; /* Ajusta el índice z para que esté por encima de las imágenes */
  }
  
  