.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.custom-button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

.custom-button.active {
  border-bottom: 2px solid #1890ff;
}

.content-container {
  text-align: center;
}
.property-detail {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  scroll-behavior: smooth;
}
.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}
.title-main {
  font-size: 2.5rem;
  font-weight: semibold;
}
.subtitle-main {
  font-size: 1.2rem;
  font-weight: semibold;
  color: #1677ff;
}
.subtitle-section {
  font-size: 1.3rem;
  font-family: 'Geometos';
  font-weight: semibold;
  margin-top: 20px;
}

.image-lar {
  display: grid;
}
.image-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
}

.image-lar img,
.image-sm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body-property {
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.images-container a img {
  box-shadow: 0.2s ease-in-out;
}

.images-container a:hover img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.detail-content {
  flex: 8;
  padding: 25px;
}

.detail-form {
  flex: 4;
  padding: 25px;
  position: relative;
}
.section-form {
  margin: 0;
  padding: 20px;
  padding-top: 10px;
  background-color: #f2f2f2;
}
.section-form h3 {
  margin: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #1677ff;
  text-transform: uppercase;
}
.section-form .price {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1677ff;
  text-align: center;
}
.list-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 15px;
}

.list-info li {
  width: 50%;
  font-size: 1.05rem;
  margin-bottom: 10px;
}
.sandar-logo {
  height: 90px;
  display: flex;
  align-items: center;
}

.detail-form img {
  position: absolute;
  right: 20;
  width: 80px;
  margin-right: 60px;
  filter: invert(100%);
}

.detail-form h2 {
  margin-left: 90px;
  font-size: 1.7rem;
  font-family: 'Geometos';
}
.card-more-info:hover {
  cursor: pointer;
  transform: scale(1.04);
}
@media (max-width: 768px) {
  .detail-content {
    flex: 0 0 100%;
  }
  .detail-form {
    display: none;
  }
}
