/* Testimonials.css */

/* Cambia el color de los botones del carrusel */
.slick-dots {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  
  .slick-dots li {
    display: inline;
  }
  
  .slick-dots button {
    background-color: blue !important; /* Cambia el color de fondo a tu elección */
    border: none;
    border-radius: 50%; /* Haz que los botones sean círculos */
    width: 10px; /* Ancho de los botones */
    height: 10px; /* Altura de los botones */
    margin: 0 5px; /* Espacio entre los botones */
  }
  
  .slick-dots button:hover {
    background-color: black !important; /* Cambia el color de fondo al pasar el mouse */
  }
  