/* Vender.css */

.vender-container {
  position: relative;
  text-align: center;
  color: #fff;
  transition: background-image 0.5s;
  animation: fadeIn 1s ease-in-out;
}

.background-container {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-height: 600px;
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-height: 700px;
  opacity: 0.7;
}

.overlay-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .handshake-icon {
    font-size: 3em;
    color: #ff5722;
    margin-bottom: 20px;
    animation: bounce 1s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .overlay-content h1 {
    font-family: 'Geometos';
    color: #001529;
    font-size: 3em;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-in-out;
  }

  .overlay-content p {
    color: #001529;
    font-size: 1.2em;
    animation: slideInLeft 1s ease-in-out;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .blue-rectangle {
    background-color: #001529; /* Color azul */
    padding: 120px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido para posicionar el texto dentro de este contenedor */
  }

  .blue-line {
    border-top: 1px solid #fff; /* Línea horizontal blanca sobre el texto */
  border-bottom: 1px solid #fff; /* Nueva línea horizontal blanca debajo del texto */
  margin: 10px 0; /* Espacio entre las líneas y el texto */
  }

  .blue-text {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
  }

  .text-container{
    margin-left: 340px;
    margin-top: 50px;
  }

  .text-container h1{
    margin-left: 100px;
    font-family: 'Geometos';
    color: #001529;
    font-size: 1.3em;
  }

  .text-container p{
    color: #001529;
    font-size: 1em;
    line-height: 1.5; /* Ajusta según sea necesario para centrar el interlineado */
    text-align: center;
  }

  .step-container {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    margin-right: 20px;
  }

  .collapse-container {
    width: 60%; /* Ajusta según sea necesario */
  }

  .collapse-container p {
    line-height: 1.5; /* Ajusta según sea necesario para centrar el interlineado */
    text-align: left;
    color: #001529;
  }

  .avisos-privacidad-container{
    background-color: #001529;
    padding: 65px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .avisos-privacidad-container p {
    line-height: 1.5; /* Ajusta según sea necesario para centrar el interlineado */
    text-align: center;
    color: #ffffff;
  }
  
  
  .contact-form-container {
    margin: 50px auto; /* Centra el formulario horizontalmente */
    max-width: 800px; /* Limita el ancho del formulario */
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinea el texto a la izquierda */
}
